$font: "Montserrat", sans-serif;
$shadow: 5px 5px 5px rgb(69, 68, 68);
$back:rgb(157, 157, 157);
// $color
.List {
    position: relative;
    left: 120px;
    width: 250px;
    height: 500px;
    margin: 10px;
    border-radius: 10px;
    border-style: solid;
    flex-shrink: 0;
    input{
        outline: none;
        position: relative;
        height: 10px;
        left: 8.4px;
        top: 7.1px;
        font-size: 13px;
        line-height: 10px;
        text-align: center;
        width: 90%;
        font-family: $font;
        font-weight: 700;
     
    };
    h1{
        position: relative;
        height: 1px;
        text-align: center;
        width: 99%;
        font-family: $font;
        font-size: 13px;
        font-weight: 700;
        // margin: 1px;
    }

}


$font: "Montserrat", sans-serif;
$shadow: 5px 5px 5px rgb(69, 68, 68);