$font: "Montserrat", sans-serif;
$shadow: 5px 5px 5px rgb(69, 68, 68);
.Card {
    font-family: $font;
    position: relative;
    border-style: solid;
    border-radius: 10px;
    border-color: rgba(16, 16, 16, 0.426);
    background-color: rgb(255, 255, 255);
    margin: 10px;
    font-size: 20px;
    text-align: center;
    height: 30px;
    // margin-bottom: 15px;
    font-weight: 500;   
    &:hover{
        border-radius: 10px;
        border-color: rgb(64, 207, 255);
    }
    &:active{
        opacity: 0.7;
    }
}
.divCards{
    position: relative;
    top: 20px;
}


